<header>
  <div class="bg-white text-center pt-5" style="height: 100vh;">
    <div class="container">
      <h1 class="text-center text-danger h1">Forbidden</h1>
      <img
        src="https://i.pinimg.com/originals/e4/e2/19/e4e2193e94554e6cc2e64b7f2a778723.gif"
        alt=""
      />
    </div>
    <a href="/" class="btn btn-warning my-4">Return Home</a>

  </div>
</header>