<article>
  <header style="background-color: black">
    <h1>Hola,
      <span style="color: cadetblue;">{{user.role}}</span>. Bienvenido a la Zona
      Privada 🔒</h1>
  </header>
  <h4>Estos son tus datos de usuario:</h4>
  <p><strong>Nombre:</strong> {{user.first_name}}</p>
  <p><strong>Apellido:</strong> {{user.last_name}}</p>
  <p><strong>Email:</strong> {{user.email}}</p>
  <footer>
    <a href="/sessions/login" role="button">Logout</a>
  </footer>
</article>