<article style="background-color: black;">
  <form action="/sessions/register" method="post">
    <header>
      <h1>Register</h1>
    </header>
    <input type="text" name="first_name" placeholder="Nombre" required />
    <input type="text" name="last_name" placeholder="Apellido" required />
    <input type="email" name="email" placeholder="Email" required />
    <input type="number" name="age" placeholder="Edad" required />
    <input type="password" name="password" placeholder="Contraseña" required />
    <footer>
      <input type="submit" value="Enviar" />
    </footer>
  </form>
</article>