<h1 class="container">Register</h1>
<form class="container d-flex flex-column col-4 gap-4" id="registerForm">
   <input type="text" name="first_name" placeholder="First name" > 
   <input type="text" name="last_name" placeholder="Last name" > 
   <input type="text" name="email" placeholder="Email" > 
   <input type="number" name="age" placeholder="Age" > 
   <input type="password" name="password" placeholder="Password" > 
   <input type="submit" class="btn btn-primary"></input >
<p>Do you already have a user? <a href="/login">Identify yourself</a></p>
</form>

<script src="js/register.js"></script>