<div class="text-center">
  <div class="container mt-5">
    <h1>Bienvenido: {{user.name}}</h1>
    <img
      src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"
      alt="Logo de GitHub"
      width="120"
      height="120"
    />
    <h1 class="display-4 mt-3">Serás redireccionado</h1>
  </div>
</div>
<script src="js/github.js"></script>