<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar_oasis">
  <div class="container">
    <img class="d-inline-block align-text-top logo_Infinity" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/">Home</a>
        </li>

        {{#if isLoggedIn}}
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#!"
              id="productsDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >Products</a>
            <ul class="dropdown-menu" aria-labelledby="productsDropdown">
              <li><a class="dropdown-item" id="productsPage">Products</a></li>
              <li><a
                  class="dropdown-item"
                  id="ticketsPurchases"
                  href="#"
                >Tickets</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" id="logout">Logout</a>
          </li>
        {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Register</a>
          </li>
        {{/if}}
      </ul>
    </div>
  </div>
</nav>